/gradecalculator/.gradle/
/gradecalculator/build/
/GradeCalculator/nbproject/private/
/GradeCalculator/build/
/SimpleCalculator/nbproject/private/
/SimpleCalculator/build/
/Sum Series/nbproject/private/
/Sum Series/build/
/JavaApplication5/nbproject/private/
/Prime Number/nbproject/private/
/PrimeOrNot/nbproject/private/
/PrimeOrNot/build/
/SwapNumbers/nbproject/private/
/SwapNumbers/build/
/months/nbproject/private/
/months/build/
/ArraySumAverage/nbproject/private/
/ArraySumAverage/build/
/ArrayJumpElements/nbproject/private/
/ArrayJumpElements/build/
/NumberDayName/nbproject/private/
/NumberDayName/build/
/MonthCalendar/nbproject/private/
/MonthCalendar/build/
/GradeCalculatorArray/nbproject/private/
/GradeCalculatorArray/build/
/GradeCalculatorArray/dist/